.background {
  display: inline;
  margin: 0;
  min-height: 100vh;
  position: fixed;
  background: url('../images/4j12nz9jxj731.png') center / cover no-repeat;
  filter: blur(12px);
  z-index: -1;
  inset: -20px
}

.background.dynamic {
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: spin 220s linear infinite;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}

h1 {
  font-family: "Bungee", sans-serif;
  color: #6E5034;
  font-size: 3rem;
  text-align: center;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 20%));
}

.red {
  color: #D34E4E;
}

h2, h3 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #E2852E;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 20%));
}

p {
  margin: 0;
  color: #cccccc;
}

.description p,
li {
  font-size: 1.3rem;
  font-weight: 500;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 20%));
  color: white;
}

.description li::marker {
  color: #E2852E;
}

.description p {
  margin-left: 1rem;
}

.description b {
  color: #E2852E;
  font-weight: 800;
}

.description code {
  background-color: #2D3C59;
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.description table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-radius: 8px;
}

.description th {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #DAD887;
}

.description td,
.description th {
  border: 3px solid rgb(226, 133, 46, 50%);
  text-align: left;
  padding: 8px;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 20%));
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description td {
  color: #dddddd;
  font-size: 1.5rem;
  font-weight: bold;
}

.description tr:nth-child(even) {
  background-color: rgb(168, 223, 142, 10%);
}

.container {
  margin-bottom: 7rem;
}

.container.green{
  background-color: rgb(161, 188, 152, 30%);
  margin-top: 1rem;
  margin-bottom: 7rem;
  padding: 2rem 1rem;
  border-radius: 8px;
}

.description .alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plain-text-div,
.cipher-text-div {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 0.5rem 1rem;
  border: rgba(255, 255, 255, 0.2) 4px solid;
}

.plain-text-div {
  border-radius: 10px 10px 0px 0px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.6rem;
  border-bottom: 0px;
}

.cipher-text-div {
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(230, 80, 27, 0.2);
  font-size: 1rem;
}

#morse-letter {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 2rem !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 2px rgba(230, 80, 27, 0.2) solid;
  margin-top: 1rem;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 50%));
}

footer.light {
  background-color: rgba(255, 255, 255, 0.1);
}

footer.green {
  background-color: rgb(52, 63, 48);
}

footer span {
  color: #cccccc;
}

.links {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  line-height: 2rem
}

.links a {
  color: #6E5034;
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.2rem;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 20%));

}

.links a:hover{
  color: #ad6624
}

.links span {
  color: #6E5034
}

.links .social-icons a{
  text-decoration: none;
}

/*--------| About page styles |--------*/
.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .profile {
  border: 4px rgba(100, 100, 100, 0.5) solid;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  object-fit: cover;
}

.about h1 {
  text-align: center;
}